<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613946710742-rmjfon0fho25h6v6d5nb6cmu546b08sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613946710742-rmjfon0fho25h6v6d5nb6cmu546b08sj</string>
	<key>API_KEY</key>
	<string>AIzaSyDaSam02nleJT20gTwMuYTBml0CWFNdB8E</string>
	<key>GCM_SENDER_ID</key>
	<string>613946710742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fmi.swift</string>
	<key>PROJECT_ID</key>
	<string>newsapp-cf949</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-cf949.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613946710742:ios:cc6e14070b5964e9d78777</string>
</dict>
</plist>